{% extends "layout.html" %}
{% block content %}

<div class="container">
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="type"><a href="{{ url_for('index') }}">BTC Simple Converter</a></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="chart">
            <!-- Chart Code -->
        </div>
        <div class="col-md col-md-offset-3">
        <a href="{{ url_for('index') }}" class="btn btn-default">Default</a>
        <a href="/3days" class="btn btn-primary">3days</a>
        <a href="/7days" class="btn btn-success">7days</a>
        <a href="/15days" class="btn btn-info">15days</a>
        <a href="/30days" class="btn btn-warning">30days</a>
        <a href="/60days" class="btn btn-danger">60days</a>
        <a href="/90days" class="btn btn-danger">90days</a>
        </div><br />
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            <p>The longer you choose the date span, the more inaccurate data will be shown.</p>
            <p><strong>Please note that I won't be responsible for any loss, damages and troubles.</strong></p>
        </div>

        <table class="table">
            <thead>
                <tr class="info">
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="最小値。期間中の最小の価格です。">Min</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="最大値。期間中の最大の価格です。">Max</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="算術平均。データの中心がどのあたりにあるのかを示す値です。">Mean</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="分散値。データのばらつきを示す値で、平均値からのばらつきを指します。">Variance</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="歪度。分布の左右非対称の度合いを表す値で、尖度と同時に分布が正規分布かどうかを判断する目安に用いられます。">Skewness</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="尖度。分布の尖り具合を表す値で、分布が正規分布かどうかを判断する目安に用いられます。">Kurtosis</th>
                </tr>
            </thead>
                <tbody>
                <tr>
                <td>{{ statmin }}</td>
                <td>{{ statmax }}</td>
                <td>{{ statmean }}</td>
                <td>{{ statvar }}</td>
                <td>{{ statskew }}</td>
                <td>{{ statkur }}</td>
                </tr>
                </tbody>
        </table>
        </div>

<!-- Left -->
    <form action="/jpy" method="post" class="form-inline"><br />
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" value="0">
                </div>
                <div id="source-button" class="btn btn-primary" style="display: none;">&lt; &gt;</div>
            </div>
        </div>

<!-- Center -->
        <div class="col-lg-4">
            <div class="bs-component">
                <button class="btn btn-default" type="submit"><i class="fa fa-jpy"></i> JPY</button>
                <button class="btn btn-default" type="submit"><i class="fa fa-eur"></i> EUR</button>
                <button class="btn btn-default" type="submit"><i class="fa fa-jpy"></i> CHY</button>
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Other
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for item in ccylists %}
                    <li><a href="#">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </form>

<!-- Right -->
        <div class="col-lg-4">
            <div class="bs-component">
            {% if name %}
            <h2>Converted Rate</h2>
            <p>{{ excsym }} {{ name }} <i class="fa fa-arrows-h"></i> <i class="fa fa-btc"></i> {{ btc_amo }} BTC.</p>
            <p>Effective rate : {{ excsym }} {{ excrat }} / <i class="fa fa-btc"></i> 1.000 BTC</p>
            <p>Market Price : $ {{ usdmktprice }}</p>
            {% else %}
            <h2>Conversion Rate List</h2>
            {{ rates }}
            <p>15 minutes delayed from Blockchain</p>
            {% for price in price15min %}
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">{{ price }}</button>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>

<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-thumbs-up"></i> Donate by Bitcoin : 182AK1UUgwNNur2g3h1vaY7b41MDax2C2v</p>
                <p><a href="https://github.com/kotaura/btcconverter"><i class="fa fa-github"></i> Source code from here</a></p>
                <p>Based on <a target="_blank" href="https://blockchain.info">Blockchain</a>, <a target="_blank" href="http://getbootstrap.com" rel="nofollow">Bootstrap3</a>. Icons from <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a target="_blank" href="http://www.google.com/webfonts" rel="nofollow">Google</a>. Chart library from <a target="_blank" href="http://c3js.org">C3.js</a></p>
                <p><strong>Please note that I won't be responsible for any loss, damages and troubles.</strong></p>
            </div>
        </div>
    </footer>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="./chart{{ chartnum }}"></script>
{% endblock %}
