{% extends "layout.html" %}
{% block content %}

<div class="container">
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="type"><a href="{{ home }}">BTC Simple Converter</a></h1>
            </div>
        </div>
    </div>

<!-- Left -->
    <form action="/jpy" method="post" class="form-inline">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" value="0">
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
            </div>
        </div>



<!-- Center -->
        <div class="col-lg-4">
            <div class="bs-component">
                <button class="btn btn-default" type="submit">JPY</button>
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Other
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for item in ccylists %}
                    <li><a href="#">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </form>

<!-- Right -->
        <div class="col-lg-4">
            <div class="bs-component">
            {% if name %}
            <h2>Converted Rate</h2>
            <p>{{ excsym }}{{ name }} <i class="fa fa-arrows-h"></i> <i class="fa fa-btc"></i> {{ btc_amo }} BTC.</p>
            <p>Effective rate : {{ excsym }} {{ excrat }} / <i class="fa fa-btc"></i> 1.000 BTC</p>{{ testlist }}
            {% else %}
            <h2>Conversion Rate List</h2>
            {{ rates }}
            <p>15 minutes delayed from Blockchain</p>

            {% for price in price15min %}
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">{{ price }}</button>
            {% endfor %}

            {% endif %}
            </div>
        </div>
    </div>

<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-thumbs-up"></i> Donate by Bitcoin : 182AK1UUgwNNur2g3h1vaY7b41MDax2C2v</p>
                <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap3</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
            </div>
        </div>
    </footer>

</div>
{% endblock %}
